<template>
  <div class="container flex flex-wrap">
    <div class="w-25 pa3 mr2">
      <h1>Solar Path Calculator</h1>
      <p>
        <label for="location">Enter Location here</label>
      </p>
      <p>
        <input 
          id="location" 
          v-model="location_string" 
          placeholder="enter city">
        <button @click="new_location">Search</button>
      </p>
      <p>
        Location: {{ full_location }}
      </p>
      <p>
        Latitude: {{ latitude }}
      </p><p>
        Longitude: {{ longitude }}
      </p>
      <p>
        This chart shows the path of the Sun in the sky today, during the summer solstice and the winter solstice based on the location you enter in the search bar. The red dot represents the current apparent position of the Sun in terms of azimuth and elevation.
      </p>
      <p>
        The outer black circle represents the horizon, where the elevation of the Sun is 0°. If the Sun is outside this circle, it is below the horizon. (This means it’s dark outside, though note that some definitions of twilight extend as far as 18° below the horizon.) Where the path intersects the horizon determines sunrise and sunset. The inner concentric circles represent higher solar elevations.
      </p>
      <p>
        The radiating lines of the graticule represent azimuth. For example, 0° azimuth means that the Sun is due North of your current location. The azimuth tells you the direction of shadows cast by the Sun, while the elevation determines their length.
      </p>
      <p>Based on <a href="https://bl.ocks.org/mbostock/7784f4b2c7838b893e9b">block 7784f4b2c7838b893e9b</a></p>
      <p>Website source available on <a href="https://gitlab.com/anandtrex/solar-calculator">Gitlab</a></p>
    </div>
    <div class="w-70 pa3 mr2">
      <svg 
        id="plot" 
        width="800" 
        height="800"/>
    </div>
  </div>
</template>


<script>
import * as d3 from "d3"
import {solarCalculator,flippedStereographic} from "../solar-calculator.js"
import tzlookup from "tz-lookup"
import moment from "moment-timezone"
// import HereMapsAPI from "here-maps-node" // es6

var platform = new H.service.Platform({
  apikey: process.env.VUE_APP_API_KEY
})

export default {
    name: "Main",
    data: function() {
        return {
            location_string: "kaniyakumari",
            latitude: null,
            longitude: null,
            full_location: null,
        }
    },

    mounted: function() {
        const svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            scale = width * .45
        const formatNumber = d3.format(".1f"),
            formatAngle = function(d) { return formatNumber(d) + "°" }
        const projection = d3.geoProjection(flippedStereographic)
            .scale(scale)
            .clipAngle(130)
            .rotate([0, -90])
            .translate([width / 2, height / 2])
            .precision(.1)
        const path = d3.geoPath()
            .projection(projection)

        const args = {svg: svg, width: width, height: height, scale: scale,
            formatNumber: formatNumber, formatAngle: formatAngle,
            projection: projection, path: path}
        this.args = args
        this.new_location()
        this.plotGrid()
    },

    methods: {
        new_location: function(event) {
            // Geocode an address.
						var geocoder = platform.getSearchService();
            
            geocoder.geocode({
                q: this.location_string,
            }, (result, err) => {
                if(result){
										const location = result.items[0]
                    this.full_location = location.title
                    this.latitude = location.position.lat
                    this.longitude = location.position.lng
                    const timeZone = tzlookup(this.latitude, this.longitude)
                    this.plotPositions(timeZone)
                }
                if(err){
                    console.log(err)
                }
            })
        },
        plotGrid: function() {
            const {svg, width, height, scale, formatNumber, formatAngle, projection, path} = this.args

            svg.append("path")
                .datum(d3.geoCircle().center([0, 90]).precision(90))
                .attr("class", "horizon")
                .attr("d", path)

            svg.append("path")
                .datum(d3.geoGraticule())
                .attr("class", "graticule")
                .attr("d", path)

            const ticksAzimuth = svg.append("g")
                .attr("class", "ticks ticks--azimuth")

            ticksAzimuth.selectAll("line")
                .data(d3.range(360))
                .enter().append("line")
                .each(function(d) {
                    const p0 = projection([d, 0]),
                        p1 = projection([d, d % 10 ? -1 : -2])

                    d3.select(this)
                        .attr("x1", p0[0])
                        .attr("y1", p0[1])
                        .attr("x2", p1[0])
                        .attr("y2", p1[1])
                })

            ticksAzimuth.selectAll("text")
                .data(d3.range(0, 360, 10))
                .enter().append("text")
                .each(function(d) {
                    const p = projection([d, -4])

                    d3.select(this)
                        .attr("x", p[0])
                        .attr("y", p[1])
                })
                .attr("dy", ".35em")
                .text(function(d) { return d === 0 ? "N" : d === 90 ? "E" : d === 180 ? "S" : d === 270 ? "W" : d + "°" })

            svg.append("g")
                .attr("class", "ticks ticks--elevation")
                .selectAll("text")
                .data(d3.range(10, 91, 10))
                .enter().append("text")
                .each(function(d) {
                    const p = projection([0, d])

                    d3.select(this)
                        .attr("x", p[0])
                        .attr("y", p[1])
                })
                .attr("dy", ".35em")
                .text(function(d) { return d + "°" })
        },
        plotPositions: function(timeZone) {
      
            if(this.latitude != null && this.longitude != null){
                const {svg, width, height, scale, formatNumber, formatAngle, projection, path} = this.args

                // console.log(`Plotting position for ${this.latitude} and ${this.longitude}`)
                const solar = solarCalculator([this.longitude, this.latitude])
                svg.selectAll(".solar-path").remove()
                svg.selectAll(".ticks--sun").remove()
                svg.selectAll(".sun-label").remove()
                svg.selectAll(".sun").remove()

                const sun = svg.insert("g", ".sphere")
                    .attr("class", "sun")

                sun.append("circle")
                    .attr("r", 5)

                sun.append("text")
                    .attr("class", "sun-label sun-label--azimuth")
                    .attr("dy", ".71em")
                    .attr("y", 10)

                sun.append("text")
                    .attr("class", "sun-label sun-label--elevation")
                    .attr("dy", "1.81em")
                    .attr("y", 10)

                let tickSun = svg.insert("g", ".sphere")
                    .attr("class", "ticks ticks--sun")
                    .selectAll("g")

                const asdf = svg.insert("g", ".sphere")
                    .attr("class", "ticks ticks--legend")
                    .selectAll("g")
                    .data(["winter-solstice", "today", "summer-solstice"])
                    .enter()
                    .append("g")
                    .attr("transform", function(d, i){
                        return "translate(" + projection([20 - 1.5*i, 50 - 4* i])  +")"
                    })

                asdf.append("circle")
                    .attr("r", 3)
                    .attr("class", function(d){return d})
                asdf.append("text")
                    .attr("dx", "5em")
                    .attr("dy", ".20em")
                    .text(function(d){return d})

          
                let date_now = new Date()
                const date_summer_solstice = new Date(date_now.getFullYear(), 6, 21)
                const date_winter_solstice = new Date(date_now.getFullYear(), 12, 21)
                refresh(date_now, "today")
                refresh(date_summer_solstice, "summer-solstice")
                refresh(date_winter_solstice, "winter-solstice")

                function refresh(now, cls_name) {
                    const start = d3.timeDay.floor(now),
                        end = d3.timeDay.offset(start, 1)

                    svg.insert("path", ".sphere")
                        .attr("class", "solar-path " + cls_name)
                        .datum({type: "LineString", coordinates: d3.timeMinutes(start, end).map(solar.position)})
                        .attr("d", path)

                    sun.datum(solar.position(now))
                        .attr("transform", function(d) { return "translate(" + projection(d) + ")" })

                    sun.select(".sun-label--azimuth")
                        .text(function(d) { return formatAngle(d[0]) + " φ" })

                    sun.select(".sun-label--elevation")
                        .text(function(d) { return formatAngle(d[1]) + " θ" })

                    tickSun = tickSun
                        .data(d3.timeHours(start, end), function(d) { return +d })

                    tickSun.exit().remove()

                    const tickSunEnter = tickSun.enter().append("g")
                        .attr("transform", function(d) { return "translate(" + projection(solar.position(d)) + ")" })

                    tickSunEnter.append("circle")
                        .attr("class", cls_name)
                        .attr("r", 2.5)

                    tickSunEnter.append("text")
                        .attr("dy", "-.31em")
                        .attr("y", -6)
                        .text(function(d){
                            return moment(d).tz(timeZone).format("ha")
                        })
                }

                d3.select(self.frameElement).style("height", height + "px")
            }
        }
    }
}
</script>

<style>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

path {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

text {
  font: 10px sans-serif;
}

.horizon {
  stroke: #000;
  stroke-width: 1.5px;
}

.graticule {
  stroke: #000;
  stroke-opacity: 0.15;
}

.today {
  stroke: orange;
}

.summer-solstice {
  stroke: orangered;
}

.winter-solstice {
  stroke: blue;
}

.solar-path {
  stroke-width: 2px;
}

.sun circle {
  fill: red;
  stroke: #000;
}

.sun text {
  text-anchor: middle;
}

.ticks--sun circle {
  fill: white;
  /* stroke: #fff; */
  stroke-width: 2px;
}

.ticks--legend circle {
  fill: white;
  /* stroke: #fff; */
  stroke-width: 2px;
}

.ticks--sun text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.ticks line {
  stroke: #000;
}

.ticks text {
  text-anchor: middle;
}

.ticks--azimuth text:nth-of-type(9n + 1) {
  font-weight: bold;
  font-size: 14px;
}
</style>
